/* based on https://github.com/umap-project/umap/blob/88cd3e8cf0b24516ba62fbea4a7f58e6038e2e0f/umap/static/umap/map.css */
.explore-map-icon .icon_arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #2270B5;
  height: 0;
  left: 6px;
  position: relative;
  top: -4px;
  width: 0;
}
.explore-map-icon .icon_container {
  background-color: #2470B5;
  border-radius: 16px 16px 16px 16px;
  box-shadow: 6px 13px 8px -4px black;
  height: 32px;
  line-height: 32px;
  opacity: 0.9;
  text-align: center;
  width: 32px;
}
.explore-map-icon .icon_container img {
  vertical-align: middle;
  max-width: 24px !important;
  max-height: 24px!important;
}
.explore-map-icon .icon_container span {
  vertical-align: middle;
  color: white;
  font-weight: bold;
}

.marker-cluster {
  /* `!important` is needed to overwrite the default colors from MarkerCluster.Default.css */
  display: block;
  background-color: white;
  width: 40px;
  height: 40px;
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
}
.marker-cluster span {
  /* background-color: red !important; */
  line-height: 30px;
  /* color: white; */
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.footermobile {
  display: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 215px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
      background-color: #a12e38;
    color: white;
    padding: 12px 16px 12px 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #272525;
  color: white;
}

div.content {
 margin-left: 215px;
  padding: 1px 16px;
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar a {text-align: center;
      float: none;
  }

  div.content {
    margin-left: 0;
  }

  .footer {
    display: none;
  }

  .footermobile {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
